
<!DOCTYPE html>
<html>
<head>
    <title>留言板</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="index.css" />
</head>
<body>
  <div style="float:left;">
        <form method="get">
          <select name="mode" class="btn" style="padding: 0.2em 1em;">
            <option value="id">留言ID</option>
            <option value="author">留言作者</option>
          </select>
          <input type="text" style="background-color:   transparent;   border:   0px"
          name="query" size="20" class="Msgtext" placeholder="输入为空即查询全部" >
          <input type="submit" value="查询" class="btn" style="padding: 0.3em 1em;">
        </form>
      </div>
      <div style="float:right;">
        <a href="add"><button class="btn" >添加留言</button></a>
      </div>
      <div id="main">
        <div class="wrap">
            <div style="width: 100%;height: 90px">
                <a class="btn-large btn-ques"></a>
                <div class="announcement">
                    <marquee id="affiche" class="announcement-text" align="left" behavior="scroll" direction="left"
                             hspace="50" loop="-1" scrollamount="2" scrolldelay="70" onMouseOut="this.start()"
                             onMouseOver="this.stop()">旧爱的誓言像及了一个巴掌
                    </marquee>
                </div>
            </div>
            <table >
              <tr align="center" id="head" class="tableHead">
                <td width="50">id</td>
                <td width="940">message</td>
                <td width="100">author</td>
                <td width="130">time</td>
                <td width="50">操作</td>
              </tr>
            </table>
      <div style="float:left;">
            <ul class="pagination">
              <li class="current"><a href="#">&laquo;</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">&raquo;</a></li>
            </ul>
      </div>
  </div>



</body>
</html>
